<!doctype html>
<head>
   <title>Songs by Sinatra</title>
</head>
<body>
   <header>
     <h1> 
       Songs By Sinatra
     </h1>
     <nav>
       <ul>
	<li><a href="/" title="Home">Home</a></li>
	<li><a href="/about" title="About>About</a></li>
	<li><a href="/contact" title="Contact">Contact</a></li> 
       </ul>		
     </nav>
   </header>
   <section>
     <p>
	Welcome to my website. Here we're all about Frank sinatra and all of his wonderful, smooth songs.
     </p>
   </section>
</body>
</html>